
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.env

# Data folders
data/raw/*
data/processed/*
data/output/*

# Notebooks checkpoints
.ipynb_checkpoints

# OS files
.DS_Store

# Logs
*.log
